@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "MS Pゴシック", "MS PGothic", sans-serif;
  color: #333;
  font-size: 13px;
  line-height: 150%;
}

/* -------------------- wrapper -------------------- */
/* ラッパーの主な役割：
「aside」や「main」要素などを一括りにして、スクリーンの両端などに余白を持たせる */

#wrapper {
  width: 100%;
  margin: auto;
  padding: 0px;
  border: 0px;
  background-color: #FFF;
  top: 10px;
  position: relative; /* <- 相対配置: 親ボックスまたはウインドウを基準に配置位置が指定される */
}

/* -------------------- header -------------------- */
#header {
  width: 100%;
}
#header h1 {
  margin: 0;
  padding: 0;
}
#corridor {
  width: 100%;
  height: auto;
}

/* -------------------- footer -------------------- */
#footer {
  clear: both; /* <- clear：ボックスの回り込みを解除  both：floatプロパティによる回り込みを全て解除*/
  width: 100%;
  padding: 3px 0 3px 0;
  background: #39F;
  color: #FFF;
  font-weight: bold;
  text-align: center; /* <- 中央寄せ */
}

/* -------------------- nav -------------------- */
#nav {
  width: 100%;
}
#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#nav ul li {
  float: left; /* <- float：要素を横に並べる事ができる */
  width: 20%;
  text-align: center;
}
#nav ul li a {
  display: block;
  height: 20px;
  margin: 0;
  padding: 10px;
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
  background-color: green;
}

/* -------------------- container -------------------- */
#container {
  width: 100%;
  margin: auto;
  padding: auto;
  padding-top: 20px;
  clear: both;
}

/* -------------------- main -------------------- */
#main {
  float: left;
  width: 60%;
  padding: 10px 30px 10px 10px;
}
#main h2 {
  margin: 0 0 10px 0;
  padding: 3px 10px 3px 10px;
  color: #FFF;
  font-size: 16px;
  border-left: solid 10px #C00;            /*  ↓ 右に配置 */
  background: #F90 url(../images/main_h2.jpg) right top repeat-y; /* <- reepeat-y：横方向（x方向）のみに繰り返される。 */
}                                                  /*  ↑ 上に配置 */
#main p {
  margin: 0;
  padding: 0;
}
#main .post {
  margin: 0 0 30px 0;
}
#main .post img.right {
  margin: 0 0 0 8px;
}
#main .post img.left {
  margin: 0 8px 0 0;
}
.right {
  float: right;
  width: 40%;
  height: auto;
}
.left {
  float: left;
  width: 40%;
  height: auto;
}

/* -------------------- clearfix -------------------- */
.clearfix {
  zoom: 1; /* <- zoomプロパティ：要素の拡大率を制御する */
}
.clearfix:after { /* <- after： (擬似要素)要素の前(=before)後(=after)に任意のテキストを表示できる */
  content: ""; /* <- contentプロパティ: 要素の前後に、擬似要素を使ってテキストや画像などのコンテンツを挿入する際に使用【注意点:contentで表示したテキストは選択したりコピペができない】*/
  display: block;
  /* displayプロパティ：ブロック要素やインライン要素を調整できる。 */
  /* ブロック要素：WEBサイトのレイアウトのまとまりとして使われる要素 */
  /* インライン要素：文の行に含まれることを想定している要素(ブロック要素の中身にインライン要素があるイメージ) */
  /* インラインブロック要素：インライン要素のように横並びにできたり、ブロック要素のように高さが指定できる */
  clear: both;
}

/* -------------------- side -------------------- */
#side {
  float: right;
  width: 50%;
  padding: 20px;
  background-color: #f99;
}
#side .box {
  margin: 0 auto 30px auto;
  padding: 0 0 20px 0;
  background: url(side_box.png) bottom no-repeat;
}
#side .box h2 {
  margin: 0;
  padding: 8px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  background: url(side_box_h2.png) center no-repeat;
}
#side .box .boxBody {
  padding: 8px;
  border-right: solid 1px #c36;
  border-bottom: solid 1px #c36;
  border-left: solid 1px #c36;
  background: #fff;
}
#side .box .boxBody ul {
  margin: 0 0 16px 0;
  padding: 0;
}
#side .box .boxBody ul li {
  padding: 8px 0 8px 4px;
  list-style: none;
  border-bottom: solid 1px #c36;
}
#side .box .boxBody ul li:hover {
  padding: 8px 0 8px 4px;
  list-style: none;
  border-bottom: solid 1px #c36;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

